<div class="page-data">
  <div class="tool-section">
    <div class="data-btn">
      <button class="btn btn-primary"><a href="#!add_customer"> Add </a></button>
    </div>
    <div class="data-search input-group">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" value="" class="form-control" placeholder="Search" ng-model="searchText" />
    </div>
  </div>

  <div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7" class="table table-hover">
     <thead class="thead-dark">
      <tr>
        <th width="50px" scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col" width="120px">Action</th>
      </tr>
     </thead>
      <tr ng-repeat="customer in customers | filter:searchText">
        <td width="50px" align="center">{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
        <td width="150px" align="center">
          <a class="btn btn-primary" href="#!edit_customer/edit/{{customer.id}}">Edit</a>

          <a class="btn btn-danger" href="#!delete_customer/delete/{{customer.id}}">Delete</a>
        </td>
      </tr>
    </table>
  </div>
</div>
