

        <div class="page-data">
            
          
                <table cellpadding="11">
                <tr>
                    <td class="label">Name</td><td>: <input type="text" name="name" ng-model="customerToEdit.name" required></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">Address</td>
                    <td valign="top">: 
                        <textarea name="address" required cols="30" rows="5" ng-model="customerToEdit.address"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">Email</td><td>: <input type="text" ng-model="customerToEdit.email" name="email" required></td>
                 </tr>
                  <tr>
                    <td class="label">Phone</td><td>: <input type="text" name="phone" ng-model="customerToEdit.phone" required></td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save" ng-click="updateCustomer(customerToEdit)">
                       <input type="button" name="cancel" value="Cancel" class="cancel" ng-click="cancelAdd()">
                    </td>
                 </tr>
                </table>
           
            
        </div>
        

